body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    text-align: center;
    background-color: rgb(15, 94, 36);
}

.hole-image {
    width: 100%;
    max-height: 350px;
    object-fit: contain;
    border-radius: 12px;
    margin-bottom: 20px;
}

.stats-box {
    display: inline-block;
    text-align: left;
    background: rgb(87, 89, 87);
    padding: 5px 10px;
    border: black 1px solid;
    border-radius: 5px;
    margin-bottom: 20px;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgb(21, 77, 23);
}

footer a {
    text-decoration: none;
    color: #0077cc;
    font-size: 1.1rem;
}

footer a:hover {
    text-decoration: underline;
}